# set up see -> https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Default code owners for files in this repo
*       @fahdjamy
